<template>
  <div class="dashboard">
    <section v-if="id === '' || id === undefined || id === null" class="bg"><h1>Create or select the user</h1></section>
    <Card v-else v-for="a in cards.slice(0, 3)" :item="a" :id="id" :key_link="a.API" :key="a.API"></Card>
  </div>
</template>

<script>
import Card from '../components/Card.vue'

export default
{
  name: 'dashboard',
  data () {
    return {
      cards: [],
      isCard: false
    }
  },
  components: {
    Card
  },
  props: ['id'],
  created: function () {
    this.$store.dispatch('getCards')
      .then(response => { this.cards = getCards(response) })
      .catch(error => console.log(error))
  },
  updated: function () {
    this.cards = shuffle(this.cards)
  }
}

function shuffle (array) {
  let count = array.length; let temp; let index
  while (count > 0) {
    index = Math.floor(Math.random() * count)
    count--
    temp = array[count]
    array[count] = array[index]
    array[index] = temp
  }
  return array
}

function getCards (all) {
  let data = all
  let dontWorkApis = ['Adorable Avatars', 'Dicebear Avatars', 'LoremPicsum', 'Yes No']
  // removing unwork services
  data.map((item, index) => {
    if (dontWorkApis.indexOf(item.API) !== -1) { data.splice(index, 1) }
  })

  // adding attributes
  data.map((item, index) => {
    item.id = index + 1
    switch (item.API) {
      case 'Bacon Ipsum': {
        item.url = 'https://baconipsum.com/api/?type=meat-and-filler'
        item.icon = 'menu'
        break
      }
      case 'FHIR': {
        item.url = 'http://hapi.fhir.org/baseDstu3/List/1645666/_history/1'
        item.icon = 'menu'
        break
      }
      case 'Hipster Ipsum': {
        item.url = 'http://hipsterjesus.com/api'
        item.icon = 'edit'
        break
      }
      case 'JSONPlaceholder': {
        item.url = 'http://jsonplaceholder.typicode.com/comments?postId=1'
        item.icon = 'menu'
        break
      }
      case 'Loripsum': {
        item.url = 'https://loripsum.net/api'
        item.icon = 'news'
        break
      }
      case 'RandomUser': {
        item.url = 'https://randomuser.me/api/'
        item.icon = 'menu'
        break
      }
      case 'RoboHash': {
        item.url = 'https://robohash.org/random.png'
        item.icon = 'picture'
        break
      }
      case 'UI Names': {
        item.url = 'https://uinames.com/api/'
        item.icon = 'menu'
        break
      }
    }
  })
  data = shuffle(data)
  return data
}
</script>

<style>
  .dashboard
  {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1140px;
    justify-content: center;
    margin: -5px auto;
  }

  .bg
  {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin: 30px auto 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
</style>
