<template>
  <RegisterForm></RegisterForm>
</template>

<script>
import RegisterForm from '../components/RegisterForm.vue'

export default {
  name: 'register',
  components: {
    RegisterForm
  }
}
</script>
