<template>
  <div class="settings">
    <section v-if="!!id"><h1>Select the user</h1></section>
    <section v-else>
      <h1 v-if="loading"><i class="el-icon-loading"></i></h1>
      <h1>Settings of user {{id}}</h1>
      <div class="edit-form">
        <el-input placeholder="Full name" v-model="fio"></el-input>
        <el-input disabled placeholder="Initials" v-model="initials"></el-input>
        <el-input type="number" placeholder="Age" v-model="age"></el-input>
        <el-input type="textarea" placeholder="About" v-model="about"></el-input>
        <el-button type="primary" @click="save()">Save</el-button>
      </div>
    </section>
    <div class="alert alert__error" v-if="error.status">{{error.text}}</div>
  </div>
</template>

<script>
export default {
  name: 'settings',
  data () {
    return {
      fio: '',
      age: '',
      about: '',
      loading: false,
      error: {
        status: false,
        text: ''
      }
    }
  },
  computed: {
    initials: function () {
      let words = this.fio.split(' ')
      return words.map(word => word[0]).join('')
    }
  },
  props: ['id'],
  created: function () {
    this.$store.dispatch('getSettings')
      .then(response => {
        this.loading = false
        this.fio = response.data.name
        this.age = response.data.age
        this.about = response.data.about
      })
      .catch(error => {
        console.log(error)
        this.loading = false
      })
  },
  methods: {
    save: function () {
      let user = { name: this.fio,
        age: this.age,
        about: this.about,
        initials: this.initials,
        account_id: this.$store.getters.loggedId }

      if (this.fio === '') {
        this.error = {
          status: true,
          text: 'Full name can not be empty'
        }
      } else {
        this.$store.dispatch('storeSettings', user)
          .then(response => {
            this.loading = false
            this.$root.$emit('editUser', response)
            this.$router.push('/dashboard/' + this.id)
          })
          .catch(error => {
            this.loading = false
            this.error = {
              status: true,
              text: error
            }
          })
      }
    }
  }
}
</script>

<style lang="less">
  h1, h2 {
    font-weight: normal;
  }

  .settings
  {
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin: 35px auto 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    .edit-form
    {
      width: 100%;
      .el-input
      {
        margin-bottom: 10px;
        .el-input-group__prepend
        {
          width: 70px;
        }
      }
      .el-button
      {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
</style>
