<template>
  <div class="settings">
    <h1>Create user</h1>
    <div class="edit-form">
      <el-input placeholder="Full name" v-model="fio"></el-input>
      <el-input disabled placeholder="Initials" v-model="initials"></el-input>
      <el-input type="number" placeholder="Age" v-model="age"></el-input>
      <el-input type="textarea" placeholder="About" v-model="about"></el-input>
      <el-button type="danger" @click="store()">Create</el-button>
    </div>
    <div class="alert alert__error" v-if="error.status">{{error.text}}</div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      fio: '',
      age: '',
      about: '',
      error: {
        status: false,
        text: ''
      }
    }
  },
  computed: {
    initials: function () {
      let words = this.fio.split(' ')
      return words.map(word => word[0]).join('')
    }
  },
  methods: {
    store: function () {
      if (this.fio === '') { this.error = { status: true, text: 'Full name can not be empty' } } else {
        const user = { name: this.fio,
          age: this.age,
          about: this.about,
          initials: this.initials,
          account_id: this.$store.getters.loggedId }

        this.$store.dispatch('storeUser', user)
          .then(response => {
            this.loading = false
            this.$root.$emit('confirmUser', response.data)
            return response.data
          })

          .then(response => {
            this.$store.dispatch('addUserToLocal', response.id)
            return response.id
          })

          .then(id => this.$router.push('/dashboard/' + id))

          .catch(error => {
            this.error = { status: true, text: error }
          })
      }
    }
  }
}
</script>
