<template>
  <router-link :to="'/dashboard/' + id + '/' + key_link" class="card">
    <div class="card__icon">
      <svg width="70" height="70">
        <circle cx="35" cy="35" r="35" stroke="white" fill="#f5f8fd"></circle>
        <!-- основа дома -->
        <rect x="23" y="28" width="6" height="18" fill="#2b3045"></rect>
        <rect x="41" y="28" width="6" height="18" fill="#2b3045"></rect>
        <rect x="27" y="42" width="16" height="4" fill="#f5f8fd"></rect>
        <rect x="30" y="25" width="10" height="21" fill="#2b3045"></rect>
        <!-- окна левой части -->
        <rect x="25" y="30" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="25" y="34" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="25" y="38" width="2" height="2" fill="#f5f8fd"></rect>
        <!-- окна правой части -->
        <rect x="43" y="30" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="43" y="34" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="43" y="38" width="2" height="2" fill="#f5f8fd"></rect>
        <!-- окна центральной части -->
        <rect x="32" y="28" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="32" y="32" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="32" y="36" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="36" y="28" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="36" y="32" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="36" y="36" width="2" height="2" fill="#f5f8fd"></rect>
        <rect x="33" y="41" width="4" height="5" fill="#f5f8fd"></rect>
      </svg>
    </div>
    <h2 class="card__name">{{item.API}}</h2>
    <div class="card__desc">{{item.Description}}</div>
    <div class="card__type">Type: <i :class="'el-icon-' + item.icon"></i></div>
    <object>
      <a class="card__link" :href="item.link">{{item.Link}}</a>
    </object>
  </router-link>
</template>

<script>
export default {
  props: ['item', 'id', 'key_link']
}
</script>

<style>
  .card
  {
    position: relative;
    padding: 35px 25px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: inline-block;
    width: 250px;
    color: #2c3e50;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .card:hover
  {
    transform: translateY(-5px);
    box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
  }

  .card__name
  {
    color: #2c3e50;
  }

  .card__desc
  {
    color: #7e8589;
    margin-bottom: 20px;
  }

  .card__type
  {
    font-size: 0.85em;
    color: #7e8589;
    margin-bottom: 8px;
  }

  .card__type i
  {
    font-size: 1.2em;
  }

  .card__link
  {
    font-size: 0.85em;
    color: #b2bec4;
    margin-left: 5px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .card__link:hover
  {
    color: #7e8589;
  }
</style>
