<template>
  <div class="user-card">
    <h1 v-if="loading"><i class="el-icon-loading"></i></h1>
    <section v-if="!isImg">
      <ul v-if="card !== 'error'">
        <li v-for="c in card" :key="c[0]">
          <el-tag>{{c[0]}}</el-tag>
          <span v-if="Array.isArray(c[1])">
            <ul>
              <li v-for="item in Object.entries(c[1])" :key="item[0]"><el-tag type="danger">{{item[0]}}</el-tag>{{item[1]}}</li>
            </ul>
          </span>
          <span v-else>
            <ul v-if="(typeof c[1]) === 'object'">
              <li v-for="item in Object.entries(c[1])" :key="item[0]"><el-tag type="danger">{{item[0]}}</el-tag>{{item[1]}}</li>
            </ul>
            <span v-else>{{c[1]}}</span>
          </span>
        </li>
      </ul>
      <el-tag v-else>{{card}}</el-tag>
    </section>
    <section v-else><img :src="card"></section>
  </div>
</template>

<script>
export default {
  data () {
    return {
      card: '',
      isImg: false,
      loading: true
    }
  },
  props: ['id', 'key_link'],
  created: function () {
    let cardLink

    this.$store.dispatch('getSelectedCard', this.key_link)
      .then(response => {
        let item = response.data.entries[0]
        switch (item.API) {
          case 'Bacon Ipsum': {
            item.url = 'https://baconipsum.com/api/?type=meat-and-filler'
            item.icon = 'edit'
            break
          }
          case 'FHIR': {
            item.url = 'http://hapi.fhir.org/baseDstu3/List/1645666/_history/1'
            item.icon = 'menu'
            break
          }
          case 'Hipster Ipsum': {
            item.url = 'http://hipsterjesus.com/api'
            item.icon = 'edit'
            break
          }
          case 'JSONPlaceholder': {
            item.url = 'http://jsonplaceholder.typicode.com/comments?postId=1'
            item.icon = 'menu'
            break
          }
          case 'Loripsum': {
            item.url = 'https://loripsum.net/api'
            item.icon = 'news'
            break
          }
          case 'RandomUser': {
            item.url = 'https://randomuser.me/api/'
            item.icon = 'menu'
            break
          }
          case 'RoboHash': {
            item.url = 'https://robohash.org/random.png'
            item.icon = 'picture'
            break
          }
          case 'UI Names': {
            item.url = 'https://uinames.com/api/'
            item.icon = 'menu'
            break
          }
        }
        if (item.icon === 'picture') {
          this.isImg = true
          this.card = item.url
          this.loading = false
        }
        cardLink = item.url
        return cardLink
      })

      .then(response => {
        if (this.isImg === true) { return Promise.reject(cardLink) }
      })

      .then(response =>
        this.$store.dispatch('getApiCard', cardLink))

      .then(response => {
        this.loading = false
        if (this.key_link === 'RandomUser') {
          this.card = Object.entries(response.data.results[0])
        } else {
          this.card = Object.entries(response.data)
        }
      })

      .catch(error => {
        this.loading = false
        this.card = error
      })
    /*
    if (this.isImg === false) {
      this.$store.dispatch('getApiCard', cardName)
      .then(response => {
        this.loading = false
        if (item.API === 'RandomUser') {
          this.card = Object.entries(response.data.results[0])
        } else {
          this.card = Object.entries(response.data)
        }
      })
      .catch(error => {
        this.loading = false
        this.card = error
      })
    } */
  }
}
</script>

<style scoped>
  .user-card
  {
    padding: 15px;
    margin: 15px auto;
    width: 100%;
    max-width: 1140px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: left;
  }

  ul
  {
    list-style: none;
  }

  .el-tag
  {
    width: 100px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
  }
</style>
