<template>
  <div class="login">
    <h1>Login Form</h1>
    <div class="login-form">
      <el-input placeholder="Your login" v-model="user"></el-input>
      <el-input type="password" placeholder="Your password" v-model="pass"></el-input>
      <el-button type="primary" @click="login()">Sign in</el-button>
    </div>
    <div class="alert alert__error" v-if="error.status">{{error.text}}</div>
  </div>
</template>

<script>

export default {
  name: 'LoginForm',
  data () {
    return {
      user: '',
      pass: '',
      error: {
        status: false,
        text: ''
      }
    }
  },
  methods: {
    login: function () {
      if (this.user.length === 0) { this.error = { status: true, text: 'Empty login' } } else
      if (this.pass.length === 0) { this.error = { status: true, text: 'Empty password' } } else {
        let allAcoounts, userData
        this.$store.commit('auth_request')

        this.$store.dispatch('getAccData')
          .then(response => {
            allAcoounts = response.data
            return allAcoounts
          })
          .then(response => {
            let user = {
              login: this.user,
              pass: this.pass
            }
            let correct = false
            response.map(function (item) {
              if (item.login === user.login && item.pass === user.pass) {
                correct = true
                localStorage.setItem('user', item.id)
                localStorage.setItem('token', item.token)
              }
            })
            if (correct) { return user } else { throw new Error('Incorrect login or password') }
          })
          .then(response => {
            userData = response
            return userData
          })
          .then(response =>
            this.$store.dispatch('getAccUsers', userData))
          .then(response => {
            let usersId = localStorage.getItem('all')
            this.$store.commit('auth_success', { token: localStorage.getItem('token'), id: localStorage.getItem('user') })
            this.$store.commit('set_all_users', usersId.split(','))
            this.$router.push('/dashboard/')
          })
          .catch(error => {
            this.$store.commit('auth_error')
            localStorage.clear()
            this.error = { status: true, text: error }
          })
      }
    }
  }
}
</script>

<style lang="less">
  .login
  {
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin: 30px auto 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    .login-form
    {
      width: 100%;
      .el-input
      {
        margin-bottom: 10px;
        .el-input-group__prepend
        {
          width: 70px;
        }
      }
      .el-button
      {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
  .alert
  {
    padding: 15px 10px 0px;
    font-weight: bold;
    &.alert__error
    {
      color: darkred;
    }
  }
</style>
