<template>
  <div class="register">
    <h1>Registration Form</h1>
    <div class="login-form">
      <el-input placeholder="Create login" v-model="user"></el-input>
      <el-input type="password" placeholder="Create password" v-model="pass"></el-input>
      <el-button type="primary" @click="register()">Sign up</el-button>
    </div>
    <div class="alert alert__error" v-if="error.status">{{error.text}}</div>
  </div>
</template>

<script>

export default {
  name: 'RegisterForm',
  data () {
    return {
      user: '',
      pass: '',
      error: {
        status: false,
        text: ''
      }
    }
  },
  methods: {
    register: function () {
      if (this.user.length === 0) { this.error = { status: true, text: 'Empty login' } } else
      if (this.pass.length === 0) { this.error = { status: true, text: 'Empty password' } } else {
        let allAcoounts, userData
        this.$store.commit('auth_request')

        this.$store.dispatch('getAccData')
          .then(response => {
            allAcoounts = response.data
            return allAcoounts
          })
          .then(response => {
            let user = {
              login: this.user,
              pass: this.pass
            }
            let correct = true
            response.map(item => {
              if (item.login === user.login) {
                correct = false
              }
            })
            if (correct) { return user } else { throw new Error('This login is already exists') }
          })
          .then(response => {
            userData = response
            return userData
          })
          .then(response =>
            this.$store.dispatch('storeAccData', userData))
          .then(response => {
            localStorage.setItem('user', response.data.id)
            localStorage.setItem('token', response.data.token)
            this.$store.commit('auth_success', { token: response.data.token, id: response.data.id })
            this.$router.push('/dashboard/')
          })
          .catch(error => {
            this.$store.commit('auth_error')
            localStorage.clear()
            this.error = { status: true, text: error }
          })
      }
    }
  }
}
</script>

<style scoped lang="less">
  .register
  {
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin: 30px auto 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    .login-form
    {
      width: 100%;
      .el-input
      {
        margin-bottom: 10px;
        .el-input-group__prepend
        {
          width: 70px;
        }
      }
      .el-button
      {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
</style>
