<template>
  <router-link :to="'/dashboard/' + id"
               class="users__user"
               :class="{ 'router-link-active': this.$store.getters.activeUser === this.id }"
               @click="getApi()">{{name}}</router-link>
</template>

<script>
export default {
  props: ['id', 'name'],
  methods: {
    getApi: function () {
      this.$store.commit('set_active_user', this.id)
    }
  }
}
</script>
