<template>
  <div class="users">
    <span class="users__users-container">
      <i v-if="loading" class="el-icon-loading"></i>
      <User v-for="us in users"
            :id="us.id"
            :name="us.initials"
            :key="us.id">
      </User>
    </span>
    <router-link to='/add'><el-button type="danger" round class="users__btn-add">Add</el-button></router-link>
  </div>
</template>

<script>
import User from './User.vue'

export default {
  data () {
    return {
      users: [],
      loading: true
    }
  },
  components: {
    User
  },
  created: function () {
    this.$store.dispatch('getUsers')
      .then(response => {
        this.loading = false
        response.map(user => {
          this.users.push(user)
        })
      })
      .catch(error => {
        console.log(error)
        this.loading = false
      })
  },
  mounted: function () {
    const SELF = this
    this.$root.$on('confirmUser', data => SELF.users.push(data))
    this.$root.$on('editUser', data => {
      SELF.users.map(item => {
        if (item.id === data.id) { item.initials = data.initials }
      })
    })
  }
}
</script>

<style>
  .users
  {
    width: 100%;
    padding: 6px 0px 15px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .users__users-container
  {
    width: 100%;
    overflow: auto;
  }

  .users__user
  {
    font-family: Arial;
    font-size: 14px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    background-color: #2b3245;
    color: white;
    line-height: 40px;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .users__user:hover
  {
    background-color: #464d60;
  }

  .users__btn-add
  {
    margin-top: 8px !important;
    box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.2);
  }

  .users__user.router-link-active
  {
    box-shadow: 0px 0px 0px 4px #F56C6C;
  }
</style>
