<template>
  <div id="app">
    <section v-if="isLoggedIn">
      <el-menu
        :default-active="activeIndexLogged"
        mode="horizontal"
        background-color="#2b3245"
        text-color="#fff"
        active-text-color="#ffd04b"
        router>
        <el-menu-item index="/dashboard">Dashboard</el-menu-item>
        <el-menu-item index="/settings">Settings</el-menu-item>
        <el-menu-item index="/logout" @click="logout()">Logout</el-menu-item>
      </el-menu>
      <Users></Users>
    </section>
    <section v-else>
      <el-menu
        :default-active="activeIndex"
        mode="horizontal"
        background-color="#2b3245"
        text-color="#fff"
        active-text-color="#ffd04b"
        router>
        <el-menu-item index="/login">Sign in</el-menu-item>
        <el-menu-item index="/register">Sign up</el-menu-item>
      </el-menu>
    </section>
    <router-view></router-view>
  </div>
</template>

<script>
import Users from './components/Users.vue'

export default {
  data () {
    return {
      activeIndex: '/login',
      activeIndexLogged: '/dashboard'
    }
  },
  computed: {
    isLoggedIn: function () { return this.$store.getters.isLoggedIn }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  },
  components: {
    Users
  }
}
</script>

<style>
  body
  {
    margin: 0;
    background: #ecf1f5;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
  }

  .el-button--primary {
    -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .el-menu.el-menu--horizontal
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .el-menu.el-menu--horizontal.el-menu--users
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
</style>
